.category-list{
    
}

.category-list > *{
    margin-top: 5rem;
}

@media (min-width: 768px) {
    .category-list{
        display: flex;
        justify-content: space-between;
        margin: 2rem 5%;
    }
}