.card{
    border-radius: 8px;
    width: 90%;
    height: 100%;
    margin: auto;
    padding: 1rem
}

.card.orange{
    background-color: #D87D4A;
}

.card.grey{
    background-color: #F1F1F1
}

.card.image{
    background-size: fill;
    background-position: center center;
    background-repeat: no-repeat;
}