.product-inclusions ul{
    margin-top: 1rem;
}
.product-inclusions li p{
    display: inline-block;
    margin: 0;
}
.product-inclusions li p:first-child{
    margin: 1rem 1rem 0 0;
    opacity: 100%;
}

@media (min-width: 768px) {

    .product-inclusions{
        display: flex;
        justify-content: flex-start;
        gap: 30%;
        align-items: baseline;
    }
}